<div style="text-align:center">

  <label>Select Month and Year: </label>
  <div>
    Month:
  <select (change)="selectChangeHandeler($event)" >
    <option value="0">--Month--</option>
    <option *ngFor="let monthpickers of monthpicker" [value]="monthpickers.name">

      {{monthpickers.value}}
    </option>

  </select>

  </div>

  <div>
    Year:
    <select (change)="selectChangeHandelerforyear($event)" >
      <option value="0">--Year--</option>
      <option *ngFor="let yearpicker of yeararray" [value]="yearpicker.year">

        {{yearpicker.year}}
      </option>

    </select>

  </div>

  <div
    *ngFor="let todolistss of days;let i=index">

    <button
      (click)="todolistofdate(todolistss)">
      {{todolistss}}
    </button>


  </div>


</div>













































<!--<div class="dropdown" xmlns="http://www.w3.org/1999/html">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <select>
    <option class="monthpicker" href="#" *ngFor="let monthpickers of monthpicker" [value]="monthpickers.value">
      {{monthpickers.value}}</option>

    </select>

  </div>

<div>
  <li *ngFor="let todolistss of days" [value]="todolistss">
    {{todolistss}}
  </li>
</div>

</div>

-->




























<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">

  <label>Date: </label>
  <select >
    <option value="0">--All--</option>
    <option *ngFor="let monthpickers of monthpicker" [value]="monthpickers.value">
      {{monthpickers.value}}
    </option>
  </select>


</div>
-->
